.cover {
  &--bottom {
    background-position: center bottom;
  }

  &--top {
    background-position: center top;
  }
  height: 100vh;
  background-size: cover;
  box-shadow: 0 0 0 2000px rgba($black, .4) inset;
}
