.header {
  &--menu {
    @include mq(md) {
      display: block;
    }
    display: none;

    &.open {
      display: block;
    }
  }

  &--item {
    @include mq(md) {
      display: inline-block;
      margin: 0 .25rem;
    }
    display: block;
  }

  &--menu-toggle {
    // @include flexbox;
    // @include justify-content(flex-end);

    @include mq(md) {
      display: none;
    }

  }

}
