.image-splash {
  min-height: 12rem;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  // apply inside of `.image-splash` div
  &--tint {
    @include bg-color($black, $black, 0.5);
    min-height: 12rem;
  }
}
