.intro {
  @include mq(sm) {
    background-position: center 20%;
  }

  @include mq(md) {
    min-height: 12em;
    background-position: center 40%;
  }

  min-height: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
}
